<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="_content/MudBlazor.Extensions/mudBlazorExtensions.min.css" rel="stylesheet" />
    <link href="_content/Clayzor.Lib.Web.Controls/css/clay.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/MudBlazor.Extensions/js/mudBlazorExtensions.js"></script>
    <script src="js/app.js"></script>
    <script src="_content/Clayzor.Lib.Web.Controls/js/clayColumnSettings.js"></script>
    <script src="_content/Clayzor.Lib.Web.Controls/js/clayGridColumnDrag.js"></script>
    <script src="_content/Clayzor.Lib.Web.Controls/js/clayGridPrint.js"></script>
    <script src="_content/Clayzor.Lib.Web.Controls/js/clayGridExcel.js"></script>
    <script src="_content/Clayzor.Lib.Web.Controls/js/clayGridTimeZone.js"></script>
</body>
</html>
